<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Proximity Bot</title>

{% load staticfiles %}

<script src={% static "js/jquery.js"%} tpye="text/javascript"></script>
<script src={% static "js/utils.js"%} tpye="text/javascript"></script>
<script src={% static "js/controller/main.js"%} tpye="text/javascript"></script>
<!-- <script src={% static "js/store.js"%} tpye="text/javascript"></script> -->
<script src={% static "js/rmx.js"%} tpye="text/javascript"></script>

<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/logo.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/footer.css" %}>


<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
      rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300,700'
      rel='stylesheet' type='text/css'>

</head>

<body>

{% include "sub/logo.html" %}



<div class="query-box">
    <form class="query-form" method="GET" action="/data/query/">
	<h2>search the web</h2>
	<input type="text" class="query-field" name="query">
	<input type="submit" value="search">
    </form>
</div>

<div class="rmx-create-form">
    <form class="collage-creation" method="POST" action="/collage/create/">
	{% csrf_token %}
	<fieldset>
	    <legend>Create a new collage</legend>
	    Title: <input type="text" name="title">
	    Links: <textarea 
			name="urls" 
			placeholder="Valid URL(s) separated by line breaks. For now you can start a new collage with 2 urls only."></textarea>
	    <input type="submit" value="create">
	</fieldset>
    </form>
    
    
</div>

<div class="rmx-recent-container">
    <h2>Recently created collages</h2>
    {% for item in recentdocs %}
    <div class="recent-doc">
	<h3><a href="/collage/{{ item.docid }}">{{ item.title }}</a></h3>
	<ul>
	    {% for url in item.urls  %}
	    <li class="url"><a href="{{ url }}">{{ url }}</a></li>
	    {% endfor %}
	</ul>
	<span>Created: {{ item.created }}</span>
    </div>
    {% endfor %}
</div>

{% include "sub/footernew.html" %}
</body>
</html>
